body{
  background-color: grey;
}

.window-container{
  position: relative;
  z-index: 0;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
}

.slideshow-container{
}

.slide{
    position: absolute;
    top: 0;
    width: 100vw;
    max-height:100vh;
    opacity:0;
    transition: opacity .6s ease-in-out;
}

.slide.fade {
    opacity: 1;
}

#slideshow-nav{
  position: absolute;
  margin: 20px auto;
  width: 100vw;
  top: 85vh;
  color: #f8f8f8;
  text-align: center;
  font-size: 24px;
}


.button {
    display: inline-block;
    height: 12px;
    width: 12px;
    border: 1px solid #EEEEEE;
    border-radius: 40%;
    color: #EEEEEE;
    transition: background-color .3s, color .15s, opacity 0.3s;
}

.button:hover {
    background-color: #EEEEEE;
}

.button-filled {
    background-color: #EEEEEE;
}
