#slider-frame{
	position: relative;
	height:100vw;
	padding: 0;
	margin: 0 auto;
	list-style: none;
}

.slide{
	position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
	float:left;
	clear: left;
}

.showing{
	opacity: 1;
	z-index: 2;
}


.slide{
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    color: #fff;
		-webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s;
}

.slide:nth-child(1){
	background-color: red;
}
.slide:nth-child(2){
	background-color: blue;
}
.slide:nth-child(3){
	background-color: yellow;
}
